<%- include('../partials/header') %>

<section id="show-page">
  <div class="headers">
    <div>Home Team: </div> 
    <div>Score: </div> 
    <div>Away Team: </div> 
    <div>Game Week:</div>
  </div>
  <div class="categories">
    <div><%= match.homeTeam %></div>
    <div><%= match.scoreOne %> - <%= match.scoreTwo %></div>
    <div><%= match.awayTeam %></div>
    <div><%= match.gameWeek %></div>
  </div>
</section>

<br><br><h2>Comments</h2>
<% if (user) { %>
<form id="add-comment-form" method="POST"
  action="/matches/<%= match._id %>/comments">
  <label>Comment:</label>
  <textarea name="content"></textarea>
  <input type="submit" value="Add Comment">
</form>
<% } %>

<% if (match.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        
        <% match.comments.forEach(function(c) { %>
          <tr>
            <td class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %></td>
            <td><%= c.createdAt.toLocaleDateString() %></td>
            <td><%= c.content %></td>
            <% if (user?._id.equals(c.user)) { %>
            <td ><a href="/matches/<%= match._id %>/comments/<%= c._id %>">Edit</a></td>
            <td>
                <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
            
            </td>
            <% } %>
          </tr>
        <% }); %>
        <tr>
          <td colspan="3"></td>
          
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Comments Yet</h5>
  <% } %>
    
  <%- include('../partials/footer') %>
  