<%- include('../partials/header') %>

<section id="show-page">
  <div>Home Team: <%= match.homeTeam %></div>
  <div>Score: <%= match.scoreOne %> - <%= match.scoreTwo %></div>
  <div>Away Team: <%= match.awayTeam %></div>
  <div>Game Week: <%= match.gameWeek %></div>
</section>